body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif, "Montserrat Subrayada";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		"Montserrat Subrayada", monospace;
}

/* Added Montserrat Font -------------------------------------------------------*/
.montserrat-subrayada-regular {
	font-family: "Montserrat Subrayada", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.montserrat-subrayada-bold {
	font-family: "Montserrat Subrayada", sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* Styles for scrollbar---------------------------------------------------------- */
body::-webkit-scrollbar {
	width: 12px;
}

/* Track */
body::-webkit-scrollbar-track {
	background: #414141; /* Color of the track */
}

/* Handle */
body::-webkit-scrollbar-thumb {
	background: #23549c; /* Color of the scrollbar handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
	background: #0e35e2; /* Color of the scrollbar handle on hover */
}

/* Card Layout-DASHBOARD---------------------------------------------------------- */
.header-container {
	display: flex;
	flex-direction: row-reverse; /* Reversing the direction */
	align-items: flex-end;
	justify-content: flex-end;
	padding-left: 1590px;
}

.label-container {
	color: white;
	font-weight: 600;
	font-size: 15px;
	width: 150px;
	justify-content: center;
	border-radius: 10px;
	padding-left: 5px;
	margin-right: 0px;
	margin-left: 120px;
}

@media screen and (max-width: 768px) {
	.label-container {
		margin-right: 0px;
		margin-left: 20px;
	}
}

.margin-container {
	margin: 0 16px;
	margin-bottom: 20px;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.flex-item {
	flex: 1;
	margin-right: 10px;
}

.half-width {
	flex: 0.5;
	margin-left: 10px;
	border-radius: 10px;
	height: 90px;
}

.card-container-0 {
	padding: 24px;
	min-height: 360px;
	font-size: 20px;
	background: #191c24;
	border-radius: var(--borderRadiusLG);
	color: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	height: 580px;
	border-radius: 10px;
}

.card-container {
	padding: 24px;
	min-height: 360px;
	font-size: 20px;
	background: #191c24;
	border-radius: var(--borderRadiusLG);
	color: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.card-container-TBT {
	padding: 24px;
	height: 555px;
	/* width: 1420px; */
	/* min-height: 360px; */
	font-size: 20px;
	background: #191c24;
	border-radius: var(--borderRadiusLG);
	color: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.card-container-UAI {
	padding: 24px;
	height: 555px;
	/* min-height: 360px; */
	font-size: 20px;
	background: #191c24;
	border-radius: var(--borderRadiusLG);
	color: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.card-container-TChart {
	padding: 24px;
	height: 450px;
	width: 520px;
	/* min-height: 360px; */
	font-size: 20px;
	background: #191c24;
	border-radius: var(--borderRadiusLG);
	color: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.card-content {
	padding: 24px;
	/* min-height: 360px; */
	height: 300px;
	font-size: 22px;
	font-weight: bold;
	background: #191c24;
	border-radius: 10px;
	color: #cccccc;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 80px;
	margin-bottom: 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.large-text {
	font-size: 60px;
	padding-top: 30px;
	color: white;
	font-weight: normal;
}

/* Animation for card appearance */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Apply animation to card */
.card-container-details,
.card-container-profile,
.card-container-0,
.half-width,
.card-container {
	animation: fadeIn 0.5s ease-in-out forwards;
}

/* Custom CSS-Circle chart----------------------------------*/
.ant-card.ant-card-bordered {
	color: #cccccc;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Additional styles for the content inside the card */
.ant-card.ant-card-bordered .ant-card-body {
	padding: 20px; /* Adjust padding as needed */
	font-size: 16px; /* Adjust font size as needed */
	color: #ffffff; /* Adjust text color as needed */
}

/* CSS for UnderConstruction component-------------------------------------*/
.uc-container {
	margin-top: -40px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.uc-content {
	max-width: 600px; /* Adjust the max-width as needed */
	padding: 20px;
	text-align: center;
}

.uc-content p {
	margin-top: 1rem;
	color: #7b7b7b; /* Adjust text color as needed */
}

.uc-content .btn-container {
	margin-top: 2rem;
}

.uc-content button {
	margin-right: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid #000; /* Adjust border color as needed */
	border-radius: 5px;
	font-size: 0.875rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.uc-content button:hover {
	background-color: #000; /* Adjust hover background color as needed */
	color: #fff; /* Adjust hover text color as needed */
}

.underConstruction {
	max-width: 400px; /* Adjust the max-width as needed */
	height: auto;
}

/* Custom CSS for text styling */
.custom-text {
	font-size: 0.875rem; /* Adjust the font size as needed */
	font-weight: 600; /* Adjust the font weight as needed */
	color: #fff; /* Adjust the text color as needed */
}

/* Profile -------------------------------------------------------------------- */
.Heading {
	color: white;
	margin-left: 30px;
	margin-top: -25px;
}

.Avatar {
	size: 100px;
}

.card-container-profile {
	padding: 24px;
	min-height: 360px;
	font-size: 20px;
	background: #191c24;
	border-radius: var(--borderRadiusLG);
	color: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	height: 440px;
	border-radius: 10px;
}

.card-container-details {
	padding: 24px;
	/* min-height: 360px; */
	font-size: 20px;
	width: 900px;
	background: #191c24;
	border-radius: var(--borderRadiusLG);
	color: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	height: 280px;
	border-radius: 10px;
}

.card-container-frauds {
	padding: 24px;
	margin-bottom: 400px;
	margin-left: 800px;
	/* min-height: 360px; */
	font-size: 20px;
	width: 900px;
	background: #191c24;
	border-radius: var(--borderRadiusLG);
	color: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	height: 280px;
	border-radius: 10px;
}

/* Reset Password Modal---------------------------------------------------------- */
.custom-modal .ant-modal-content {
	background-color: #d1d1d1; /* Change background color */
	color: #000; /* Change text color */
}

.custom-modal .ant-modal-header {
	background-color: #d1d1d1;
	color: #000;
}

.custom-modal .ant-modal-footer {
	background-color: #d1d1d1;
	color: #000;
}

